dist: trusty
sudo: true
notifications:
  email: false
language: node_js
node_js:
  - "10"
  - "8"
  - "6"
cache:
  directories:
    - node_modules
install:
  - npm install --quiet
script:
  - npm test
jobs:
  include:
    - stage: npm release
      node_js: "8"
      script: skip
      after_success:
        - npx semantic-release
branches:
  only:
    - master
